.centrar{
    height: 789px;
    background-color: #c8b3dc;
}


.titulo {
    font-style: italic;
    margin-top:0;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}
.registrar {      
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.contenedor {
text-align: center;
justify-content: center;
}