.contenedor {
    background-color: #c8b3dc;
    height: 789px;
}

.img {
    padding-left: 300px;
}


.titulo {
    font-style: italic;
    margin-top: 0;
    margin-right: 130px;
    font-size: 20px;
}